body{
    height: 100vh;
}
.mibo{
    display: flex;
    flex-direction: row; 
    overflow-x: hidden; 
    width: 200vw;
}
.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}
main{
    width: 52%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 1%;
}
.ficha{
    width: 21%;
    height: 26%;
    border-radius: 10px;
    border: solid;
    background-color: #DDE03A;
    border-width: 1px;
}
.signodepregunta{
    height: 90%;
    width: 90%;
}
.asided{
    width: 43%;
}
.dialogoyglobo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62%;
}
.globodetexto{
    width: 100%;
}
.dialogo{
    position: absolute;
    width: 20%;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 30px;
}
.otis{
    width: 40%;
}
.cambiandoestilos{
    width: 10%;
    aspect-ratio: 1/1;
}
.confest{
    width: 100%;
    aspect-ratio: 1/1;
}
.aside{
    height: 100%;
    width: 17%;
    background-color: #B0C2D6;
    position: relative;
    border-width: 4px;
    border-color: #527EAC;
    border-radius: 10px;
    border-style: solid;
}
.diseño, .colores, .imagenesAAAnosemeocurrennombresparalasclases{
     border-bottom: 1px#304A66 solid;
}
.diseño{
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diseño > h1{
    font-size: 3.125em;
}
.colores{
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.colores > h3{
   font-size: 2.1875em;
   margin-left: 1%;
}
.colores > div{
    height: 61%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.losbotonesdecolores, .losbotonesdecoloresa{
    height: 65%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 0px #527EAC solid;
    margin-right: 2%;
}
.losbotonesdecoloresa{
    border-width: 4px;
}
.imagenesAAAnosemeocurrennombresparalasclases{
    height: 35%;
    display: flex;
    flex-direction: column;
}
.imagenesAAAnosemeocurrennombresparalasclases > h3{
   font-size: 2.1875em;
   margin-bottom: 1%;
}
.esteeseldivquecontienelosbotonesyestoytancansadodedarleunnombreacadaclasequeestavaaserlaclasemaslargaquealgunavezinvente{
    height: 77%;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    align-items:baseline;
}
.imagenes{
    width: 25.714285714%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: #5F75C5;
}
.imagenes > p{
    font-size: 2.5em;
}
.cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22%;
}
.cerrar > button{
    width: 54%;
    height: 60%;
    background-color: #527EAC;
    border: 1px #113154 solid;
    border-radius: 35px;
}
.cerrar > button > h1{
    font-size: 2.1875em;
    
}
.tdnn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.tdnn > button{
    width: 100%;
    border-radius: 15px;
}
.pp{
    font-size: 2.5em;
}
.botonesdiv{
    position: absolute;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 78%;
    bottom: 2%;
    height: 38%;
}
.asided > div > a{
    height: 44%;
}
.asided > div > a > button{
    height: 100%;
}