.arriba{
    margin-bottom: 10px;
}
.todo{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #618fbf;
}

.rojo{
    width: 250px;
    height: 250px;
    background-color: #850000;
    border-width: 0px;
}
.azul{
    width: 250px;
    height: 250px;
    background-color: #000085;
    border-width: 0px;
}
.amarillo{
    width: 250px;
    height: 250px;
    background-color: #858500;
    border-width: 0px;
}
.verde{
    width: 250px;
    height: 250px;
    background-color: #008500;
    border-width: 0px;
}

.mensajemalo{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
}

.perfil{
    width: 100px;
}


.tdn{
    text-decoration: none;
    }