
.todo{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #618fbf;
align-content: flex-start;
}
.otisybotones{
    display: flex;
    height: 89%;
    flex-direction: column;
    justify-content: space-around;
    width: 61.7487%;
}
.globo{
    width: 100%;
}
.otishabla{
width: 30.97%;
}
.contieneotis{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
}
.contieneglobo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63.71%;
}
.dialogodiv{
    position: absolute;
    width: 238px;
}
.dialogo{
    font-size: 1.25em;
}
.menuprinc{
    
}

.tdn{
    text-decoration: none;
    }