.todo{
display: flex;
flex-direction: row;
background-color: rgb(250, 228, 103);
}

.rojo{
    width: 300px;
    height: 300px;
    background-color: #990000;
    border-width: 0px;
}
.azul{
    width: 300px;
    height: 300px;
    background-color: #000099;
    border-width: 0px;
}
.amarillo{
    width: 300px;
    height: 300px;
    background-color: #999900;
    border-width: 0px;
}
.verde{
    width: 300px;
    height: 300px;
    background-color: #009900;
    border-width: 0px;
}

.mensajemalo{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
}
