
.todo{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #618fbf;
height: 720px;
align-content: flex-start;
}
.otisybotones{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
}
.globo{
    width: 368px;
}
.otishabla{
width: 195px;
}
.contieneotis{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.contieneglobo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogodiv{
    margin-left: 80px;
    position: absolute;
    width: 238px;
}
.dialogo{
    font-size: 20px;
}


.tdn{
    text-decoration: none;
    }